* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  color: #111;
  font-size: 34px;
  font-style: normal;
  line-height: 135%;
  /* 45.9px */
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  margin-top: 10px;
}

.text {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
}

.light-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  border: 2px solid #111;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
  transition: all 0.3s ease-in;
}
.light-button span {
  margin-right: 30px;
}
.light-button:before {
  content: url(/img/icons/arrow_black.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.light-button:hover {
  background: #111;
  color: #fff;
  transition: all 0.3s ease-in;
}
.light-button:hover:before {
  content: url(/img/icons/arrow.png);
}

.dark-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  border: 2px solid #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
  transition: all 0.3s ease-in;
}
.dark-button span {
  margin-right: 30px;
}
.dark-button:before {
  content: url(/img/icons/arrow.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.dark-button:hover {
  background: #fff;
  color: #111;
  transition: all 0.3s ease-in;
}
.dark-button:hover:before {
  content: url(/img/icons/arrow_black.png);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 50px 100px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 140px;
}

.logo img {
  width: 100%;
}

.fullscreen {
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.fullscreen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-title {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;
}
.main-title span {
  display: block;
  font-size: 52px;
  margin-top: 15px;
}

.callback-button {
  position: absolute;
  left: 100px;
  bottom: 50px;
  z-index: 2;
}
.callback-button svg {
  fill: #fff;
}

.project-link {
  position: absolute;
  right: 100px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.project-title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;
}

.more-details {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  position: relative;
  padding-right: 15px;
}
.more-details:before {
  content: url(../img/icons/arrow.png);
  position: absolute;
  left: 100%;
}

.container {
  width: 1290px;
  margin: 0 auto;
}

.about {
  padding: 100px 0 50px;
}

.about-row {
  display: flex;
}

.about-column {
  flex: 0 1 50%;
}

.about-title {
  color: #111;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: left;
}

.about-text {
  color: #333;
  margin-bottom: 12px;
}
.about-text:last-child {
  margin-bottom: 0;
}

.architecture {
  padding: 50px 0;
}

.projects-photos {
  margin: 40px 10px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.project-photo-block {
  display: block;
  position: relative;
  width: calc(50% - 5px);
}
.project-photo-block:hover > .project-photo-hover {
  opacity: 1;
  transition: all 0.7s ease-in;
}
.project-photo-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-photo-hover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(17, 17, 17, 0.6) 0%, rgba(17, 17, 17, 0.6) 100%);
  padding: 70px 120px;
  opacity: 0;
  transition: all 0.7s ease-in;
}

.project-photo-title {
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  line-height: 135%;
  /* 45.9px */
  text-transform: uppercase;
  position: relative;
}
.project-photo-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 150px;
  height: 5px;
  background: #cfcfcf;
}

.project-photo-text {
  margin-top: 45px;
  color: #cfcfcf;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.design {
  padding: 50px 0;
}

.advantages {
  padding: 50px 0 100px;
}

.advantages-row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-block {
  flex: 1 1 45%;
  border: 2px solid #f3f3f3;
  padding: 40px;
  display: flex;
  align-items: center;
}

.advantages-icon {
  max-width: 70px;
  margin-right: 20px;
}

.advantages-title {
  color: #111;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
}

.advantages-text {
  margin-top: 10px;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
}

.results {
  padding: 100px 0;
  background: #2d2b2c;
}

.results-title {
  color: #fff;
}

.results-subtitle {
  color: #cfcfcf;
}

.results-row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.results-column {
  flex: 0 1 28%;
}

.results-number {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 125%;
  /* 75px */
  text-transform: uppercase;
}

.results-text {
  color: #cfcfcf;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
}

.work {
  padding: 100px 0;
}

.work-subtitle {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.work-tabs {
  margin-top: 40px;
}

.work-tabs-header {
  display: flex;
  justify-content: center;
}

.work-tabs-item {
  color: #cfcfcf;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
  display: inline-flex;
  padding: 15px 30px;
  border: 2px solid #f3f3f3;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
}
.work-tabs-item:last-child {
  margin-right: 0;
}
.work-tabs-item._active {
  color: #111;
  background: #f3f3f3;
}

.work-tabs-block {
  margin-top: 40px;
}

.work-architecture-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.work-architecture-column {
  flex: 0 1 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 30px;
}

.work-architecture-number {
  color: #afafaf;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  line-height: 100%;
  /* 70px */
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px solid #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-architecture-text {
  margin: 10px 0;
  color: #111;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
}

.work-architecture-term {
  color: #818181;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
  /* 19.5px */
}

.work-design-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.work-design-column {
  flex: 0 1 31%;
  margin: 0 15px 30px;
  position: relative;
  padding: 70px 0 0 40px;
}

.work-design-number {
  max-width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.work-design-number svg {
  width: 100%;
}

.work-design-text {
  color: #111;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
}

.work-button {
  left: 0;
  transform: translateX(0);
  margin-top: 18px;
}

.price {
  padding: 100px 0;
  background: #2d2b2c;
}

.price-title {
  color: #fff;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.price-column {
  position: relative;
}

.price-column-left {
  flex: 0 1 60%;
}

.price-text {
  color: #cfcfcf;
  margin-bottom: 12px;
}
.price-text:last-child {
  margin-bottom: 0;
}

.price-button {
  left: 0;
  transform: translateX(0);
}

.feedback {
  padding: 100px 0;
}

.feedback-row {
  margin-top: 40px;
  display: flex;
}

.feedback-column-left {
  flex: 0 1 50%;
  padding-right: 5px;
}

.feedback-text {
  margin-bottom: 12px;
}
.feedback-text:last-child {
  margin-bottom: 0;
}

.feedback-column-right {
  padding-left: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 345px;
}

.form-input {
  width: 100%;
  height: 58px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.5);
}

.fotm-button {
  margin-top: 25px;
  left: 0;
  transform: translateX(0);
}

.footer {
  padding: 50px 0;
  background: #2d2b2c;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 0 auto;
}

.footer-logo {
  max-width: 140px;
}
.footer-logo img {
  width: 100%;
}

.footer-description {
  color: #cfcfcf;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  /* 18.9px */
  margin: 10px 0 25px;
}

.footer-contact {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 135%;
  /* 29.7px */
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-contact:last-child {
  margin-bottom: 0;
}

.socials {
  display: flex;
  margin: 25px 0 30px;
  align-items: center;
  justify-content: center;
}

.social-link {
  max-width: 36px;
  margin: 0 7.5px;
}

.footer-link {
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  /* 18.9px */
  text-decoration-line: underline;
  text-align: center;
}

.burger {
  position: relative;
  z-index: 2;
}

.burger .line {
  width: 50px;
  height: 6px;
  background-color: #ecf0f1;
  display: block;
  transition: all 0.3s ease-in-out;
}

.burger .line:nth-child(2) {
  margin: 11px auto;
}

.burger:hover {
  cursor: pointer;
}

.burger.is-active .line:nth-child(1) {
  opacity: 0;
  transform: translateX(-100%);
}

.burger.is-active .line:nth-child(3) {
  opacity: 0;
  transform: translateX(100%);
}

.burger-black .line {
  background-color: #333;
}

.fullscreen-slider-wrapper,
.fullscreen-slide {
  min-height: 100vh;
}

.fullscreen-slide {
  position: relative;
}

.fullscreen-pagination {
  bottom: 50px;
  left: 50%;
  transform: translate3d(0, 0, 0) translateX(-50%);
}
.fullscreen-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 15px;
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.fullscreen-pagination .swiper-pagination-bullet-active {
  background: rgb(255, 255, 255);
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.main {
  position: relative;
  padding: 200px 0 100px;
}

.architecture-page-title,
.architecture-page-subtitle {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.more-button {
  position: relative;
  color: #111;
  font-size: 22px;
  font-weight: 400;
  line-height: 135%;
  /* 29.7px */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.more-button span {
  padding-left: 45px;
}
.more-button:before {
  content: url(../img/icons/more.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}
.breadcrumbs p,
.breadcrumbs a {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
}

.divider {
  padding: 0 5px;
}

.none {
  display: none;
}

.project-breadcrumbs a,
.project-breadcrumbs p {
  color: #fff;
}

.project-title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 135%; /* 67.5px */
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.project-infoblock {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: flex;
  color: #fff;
  width: 1290px;
  justify-content: space-between;
}