* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;

// ------------------------------------------------------------------------
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.title {
  font-size: 34px;
  font-style: normal;
  line-height: 135%; /* 45.9px */
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  margin-top: 10px;
}
.text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 50px 100px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.logo img {
}

.fullscreen {
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.fullscreen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullscreen-content {
}

.main-title {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 125%;

  span {
    display: block;
    font-size: 52px;
    margin-top: 15px;
  }
}

.callback-button {
  position: absolute;
  left: 100px;
  bottom: 50px;
  z-index: 2;
  svg {
    fill: #fff;
  }
}

.project-link {
  position: absolute;
  right: 100px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.project-title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;
}
.more-details {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  position: relative;
  padding-right: 15px;
  &:before {
    content: url(../img/icons/arrow.png);
    position: absolute;
    left: 100%;
  }
}
.container {
  width: 1290px;
  margin: 0 auto;
}
.about {
  padding: 100px 0 50px;
}
.about-row {
  display: flex;
}
.about-column {
  flex: 0 1 50%;
}

.about-title {
  color: #111;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: left;
}

.about-text {
  color: #333;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.architecture {
  padding: 50px 0;
}
.projects-photos {
}
.project-photo-block {
}
.project-photo-hover {
}
.project-photo-title {
}
.project-photo-text {
}
.design {
}

.advantages {
}

.results {
}

.work {
}

.price {
}

.feedback {
}

.footer {
}

// --------------------------------
// burger
.burger {
  position: relative;
  z-index: 2;
}

.burger .line {
  width: 50px;
  height: 6px;
  background-color: #ecf0f1;
  display: block;
  // margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger .line:nth-child(2) {
  margin: 11px auto;
}

.burger:hover {
  cursor: pointer;
}

.burger.is-active .line:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.burger.is-active .line:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

// swiper
.fullscreen-slider-wrapper,
.fullscreen-slide {
  min-height: 100vh;
}
.fullscreen-slide {
  position: relative;
}

.fullscreen-pagination {
  bottom: 50px;
  left: 50%;
  transform: translate3d(0, 0, 0) translateX(-50%);

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 15px;
    background: rgb(100%, 100%, 100%, 0.4);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: rgb(100%, 100%, 100%, 1);
  }
}
